<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.dao.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.yuan.entity.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="register_model" jdbcType="VARCHAR" property="registerModel"/>
        <result column="third_party_id" jdbcType="VARCHAR" property="thirdPartyId"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, name, gender, age, tel, register_model, third_party_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_miaosha_user_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_miaosha_user_info
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.yuan.entity.UserInfo">
        insert into t_miaosha_user_info (id, name, gender,
          age, tel, register_model,
          third_party_id)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT},
          #{age,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, #{registerModel,jdbcType=VARCHAR},
          #{thirdPartyId,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.yuan.entity.UserInfo" keyProperty="id" useGeneratedKeys="true">
        insert into t_miaosha_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="registerModel != null">
                register_model,
            </if>
            <if test="thirdPartyId != null">
                third_party_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="registerModel != null">
                #{registerModel,jdbcType=VARCHAR},
            </if>
            <if test="thirdPartyId != null">
                #{thirdPartyId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yuan.entity.UserInfo">
        update t_miaosha_user_info
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="registerModel != null">
                register_model = #{registerModel,jdbcType=VARCHAR},
            </if>
            <if test="thirdPartyId != null">
                third_party_id = #{thirdPartyId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yuan.entity.UserInfo">
        update t_miaosha_user_info
        set name = #{name,jdbcType=VARCHAR},
          gender = #{gender,jdbcType=TINYINT},
          age = #{age,jdbcType=INTEGER},
          tel = #{tel,jdbcType=VARCHAR},
          register_model = #{registerModel,jdbcType=VARCHAR},
          third_party_id = #{thirdPartyId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 通过手机号获取用户信息 -->
    <select id="selectByTel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_miaosha_user_info
        where tel = #{tel,jdbcType=VARCHAR}
    </select>
</mapper>